.button{
    display: flex
;
    justify-content: end;
    gap: 30px;
}
.leftNavContent{
    background-color: aqua;
    height: 94vh;
    width: 50vh;
}
.Main{
    background-color: aquamarine;
    width: 165vh;
    height:94vh
}
.mainContent{
    display:flex
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;

}
.leftNavs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
.Add{
    display: flex;
    justify-content: end;
}
